body{
    margin: auto;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.display{
    margin-top: 30vh;
    width: 60vh;
    height: 20vh;
    border: 2px solid pink;
    font-size: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.vezerlok{
    margin: 20px;
    display: grid;
    align-content: center;
    gap: 10px 10px;
}
.vezerlo-gomb{
    width: 70px;
    height: 70px;
    font-size: 3rem;
    padding-bottom: 1rem;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.v1{
    grid-column: 2 / span 3;
    grid-row: 1;
}

.v2, .v3, .v4{
    grid-row: 2;
}

.start, .stop{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.start{
    background-color: green;
}

.stop{
    background-color: red;
}

.start:hover{
    background-color: darkgreen;
    transition-duration: 200ms;
}

.stop:hover{
    background-color: darkred;
    transition-duration: 200ms;
}